
h1 h2 h3 h4 h5 h6{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500; 
}
p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: 500;
}
a{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: 500;
}
alt{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: 500;
}
body{
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 1%;
}

#main{
  display: flex;
}
#logo{
  display:block;
  float: left;

}
nav{
  background-color: #EEEEEE;
}
#nav-item{
  display: block;
  float: right;
  margin-left: 50%;
}
#className{
  padding-left: 15%;
 
}
#slideimg{
  height: 400px;
}
#teacher{
  width: 91vw;
  display: inline-block;
}
#taecherImg{
  display: block;
  float: left;
  width: 45vw;
}
#taecherInfo{
  display: block;
  width: 47vw;
}
header{
  display: none;
}
.containers{
  justify-content: space-evenly;
  margin-left: 4%;
  background-color: rgb(157, 157, 255);
}
#enroll{
  background-color: rgb(255, 137, 137);
}


.section{

 border-radius: 1%;
}
.aluminiP img{
  border: 5px;
  border-radius: 10px;
}
.testimonialsH{
  display: flex;
  align-items: center;
  text-align: center;
  float: right;
  padding-right: 44%;
  font-family: cursive;
  }

#testimonialP{
  gap: 1%;
  margin-top: 1%;
}
#carouselExampleControlsimg{
  height: 5%;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  
}

.about-us {
  width: 50%;
  
}

.about-us h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.about-us p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: 'Courier New', Courier, monospace;
}

.about-us button {
  background-color: #fff;
  color: #0a0a43;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
}

.mission-approach {
  width: 40%;
  background-color: #fff;
  color: #0a0a43;
  border-radius: 10px;
  padding: 20px;
}

.mission-approach h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.mission-approach p {
  font-size: 1.2em;
  margin-bottom: 20px;
}
/* about class css*/
.slogan{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}





  @media (max-width: 980px) {
       
    body{
      margin-left: 4%;
      margin-right: 4%;
      margin-top: 1%;
    }
    
    #main{
      display: none;
    }
    #logo{
      width: 100px;
      margin-right: 8%;
      text-wrap: wrap;
    }
    
    header{
      display: block;
    }
    .navbar-brand{
      justify-content: space-evenly;
    }
    #className{
      font-family: cursive;
      margin-left: 1%;
      margin-top: 5%;
      align-items: baseline;
      color: black;
    }
    #teacher{
      width: 92vw;
    }

    #taecherImg img{
      width: 45vw;
    }

    .testimonialsH{
      display: flex;
      align-items: center;
      text-align: center;
      float: right;
      padding-right: 30%;
      font-family: cursive;
      }
      #aluminiP{
        height: 35vh;
      }
      #slideimg{
        height: 200px;
      }
      
    
  }