body{
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 1%;
  background-color: #FFFBF5;
}

#main{
  display: flex;
}
#logo{
  display:block;
  float: left;

}

#nav-item{
  display: block;
  float: right;
  margin-left: 50%;
}
#className{
  padding-left: 15%;
  color: rgb(0, 0, 0);
}

#teacher{
  width: 92vw;
  display: inline-block;
}
#taecherImg{
  display: block;
  float: left;
  width: 45vw;
}
#taecherInfo{
  display: block;
  width: 47vw;
}
header{
  display: none;
}

  @media (max-width: 980px) {
       
    body{
      margin-left: 4%;
      margin-right: 4%;
      margin-top: 1%;
    }
    
    #main{
      display: none;
    }
    #logo{
      width: 65px;
    }
    
    header{
      display: block;
      border:2px solid red;

    }
    #className{
      font-family: cursive;
      padding-left: 5%;
      margin-top: 65%;
      align-items: baseline;
      border:2px solid red;
      color: black;
    }
    #teacher{
      width: 92vw;
    }

    #taecherImg img{
      width: 45vw;
    }

  }